  <%= form_with(model: @group, url: user_groups_path) do |f| %>

  <div class="nav-header">
    <div>
      <%= link_to  :back do %>
        <%= image_tag "back.svg", style: 'height:10px; width:auto;' %>
      <% end  %>
    </div>
    <h4 class="text-gray-4"> NEW CATTEGORY</h4>
    <div class="actions">
      <%=  f.submit ('NEXT'), class:" bg-light nav-right-action text-gray-4" %>
    </div>
  </div>

    <div class= "form-group-custom" >
      <%= f.text_field :name,   class:"form-control-custom", placeholder: "Enter category name", autofocus: true %>
    </div>

    <div class= "form-group-custom" >
      <%= f.label :icon, "Select label for an icon:", class: "label text-gray-2" %>
      <%= f.select  :icon, ["Education", "Entertainment", "Healthcare", "Shopping", "Utilities", "Other" ], class:"form-control-custom" %>
    </div>
    
  <div class='add-ne-category-btn-container-main'>
    <div class= 'add-ne-category-btn-container'>
        <%=  f.submit ('SUBMIT'), class:" add-ne-category-btn text-gray-4" %>
      </div> 
    </div> 
  </div> 
  
  <% end %>
