<%= form_for(resource, as: resource_name, data: { turbo: false }, url: session_path(resource_name)) do |f| %>

  <div class="nav-header mb-2">
    <div>
      <%= link_to  :root do %>
        <%= image_tag "back.svg", style: 'height:10px; width:auto;' %>
      <% end  %>
    </div>
    <h4 class="text-gray-4">LOGIN</h4>
    <div class="actions">
      <%= f.submit "Log in", class:" bg-light nav-right-action text-gray-4" %>
    </div>
  </div>


 <div class="form-group-custom">
    <%= f.email_field :email, class: 'form-control-custom', placeholder: 'Email' %>
  </div> 


  <div class="form-group-custom">
    <%= f.password_field :password, autocomplete: 'current-password',placeholder: 'Password', class: 'form-control-custom' %>
  </div>

<% end %>

<%= render 'devise/shared/links' %>
