<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Name:</strong>
    <%= expenditure.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expenditure.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= expenditure.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= expenditure.group_id %>
  </p>

</div>
