<p style="color: green"><%= notice %></p>

<%= render @expenditure %>

<div>
  <%= link_to "Edit this expenditure", edit_expenditure_path(@expenditure) %> |
  <%= link_to "Back to expenditures", expenditures_path %>

  <%= button_to "Destroy this expenditure", @expenditure, method: :delete %>
</div>
